- name: Deploy Dockerized Nginx app
  hosts: web
  become: yes

  vars:
    image: "ghcr.io/brindhakavinkumar/devops-beginner-e2e:latest"
    container_name: "devops-beginner-web"

  tasks:
    - name: Install Docker
      apt:
        name: docker.io
        update_cache: yes
        state: present

    - name: Start and enable Docker
      service:
        name: docker
        state: started
        enabled: yes

    - name: Pull image from GHCR
      command: docker pull {{ image }}

    - name: Stop old container if exists
      command: docker rm -f {{ container_name }}
      ignore_errors: yes

    - name: Run container on port 80
      command: >
        docker run -d --name {{ container_name }}
        --restart unless-stopped
        -p 80:80
        {{ image }}

