- hosts: web
  become: yes
  tasks:
    - name: Update apt cache
      apt:
        update_cache: yes

    - name: Install required packages
      apt:
        name:
          - ca-certificates
          - curl
          - gnupg
          - lsb-release
        state: present

    - name: Add Docker GPG key
      shell: |
        install -m 0755 -d /etc/apt/keyrings
        curl -fsSL https://download.docker.com/linux/ubuntu/gpg | gpg --dearmor -o /etc/apt/keyrings/docker.gpg
        chmod a+r /etc/apt/keyrings/docker.gpg
      args:
        creates: /etc/apt/keyrings/docker.gpg

    - name: Add Docker repo
      shell: |
        echo \
          "deb [arch=$(dpkg --print-architecture) signed-by=/etc/apt/keyrings/docker.gpg] https://download.docker.com/linux/ubuntu \
          $(. /etc/os-release && echo "$VERSION_CODENAME") stable" | tee /etc/apt/sources.list.d/docker.list > /dev/null
      args:
        creates: /etc/apt/sources.list.d/docker.list

    - name: Install Docker Engine
      apt:
        update_cache: yes
        name:
          - docker-ce
          - docker-ce-cli
          - containerd.io
          - docker-buildx-plugin
        state: present

    - name: Ensure Docker service running
      service:
        name: docker
        state: started
        enabled: yes

    - name: Create app directory
      file:
        path: /opt/devops-app
        state: directory

    - name: Copy app files to server
      copy:
        src: ../app/
        dest: /opt/devops-app/

    - name: Build docker image
      shell: docker build -t devops-flask:1.0 /opt/devops-app
      args:
        chdir: /opt/devops-app

    - name: Stop old container if exists
      shell: docker rm -f devops-flask || true

    - name: Run container on port 80
      shell: docker run -d --name devops-flask -p 80:8000 devops-flask:1.0
